# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.env
*.mp3
*.pyc
*.m4a
*.webm
*.log

# Dependency directories (remove the comment below to include it)
__pycache__
resources/chromium
resources/mpv
resources/ffmpeg
resources/7z
resources/Chatterino Portable
curses-menu-master/
mingunies/AegeanSymphonicOrchestra-v2_5-universal
mingunies/fluidsynth-x64
playlists/
downloads/
zynsubfx/
synthh/
Discord/enc/
*/resources/
*.log
src/
*.bat
*/.vs/
*.jar
*.txt
