# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.env
*.mp3
*.pyc
*.m4a
*.webm
*.log

# Dependency directories (remove the comment below to include it)
__pycache__
resources/
curses-menu-master/
playlists/
downloads/
Discord/enc/
.vs/
.vscode/
*/resources/
src/
*.bat
*/.vs/
*.jar
*.txt
*/env/*
env/

*.json
