# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.env
*.mp3

# Dependency directories (remove the comment below to include it)
resources/chromium
resources/mpv
resources/ffmpeg
resources/7z
curses-menu-master/
mingunies/AegeanSymphonicOrchestra-v2_5-universal
mingunies/fluidsynth-x64
playlists/
downloads/
zynsubfx/
synthh/
